/*=============================================
          components/_header.scss
================================================*/
@use './../abstracts' as ab;

.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(180deg, rgba(ab.set-neutral-color(clr-neutral-600), .8), rgba(ab.set-neutral-color(clr-neutral-700), .8)), url('./../../assets/img/cubism-grid.svg');
  background-size: cover;
  background-position: center;

  color: ab.set-neutral-color(clr-neutral-100);

  &__nav {

  }
  &__hero {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--inner {
      height: 75%;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      row-gap: 0.25em;
    }
    &--outer {
      height: 25%;

    }
  }



}