/*=============================================
         pages/_about-page.scss
================================================*/
@use './../abstracts' as ab;

.about__section {
  position: relative;
  /*width: 100%;*/
  padding-top: 40px;

  background-color: ab.set-neutral-color(clr-neutral-400);

  display: flex;
  flex-direction: row;

  &__left {
    flex-basis: 50%;

    background-color: ab.set-neutral-color(clr-neutral-200);
    &--inner {
      width: 66%;
      @include ab.align-element(both);
      transform: translate(-40%, -50%);
      position: relative;
    }
  }



}