/*=============================================
          base/_animations.scss
================================================*/
@use './../abstracts' as ab;

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation(
  $animation,
  $duration: 1s,
  $delay: 0,
  $direction: normal,
  $fillmode: forwards,
  $count: 1
) {
  -webkit-animation-name: $animation;
  -webkit-animation-duration: $duration;
  -webkit-animation-delay: $delay;
  -webkit-animation-fill-mode: $fillmode;
  -webkit-animation-direction: $direction;
  -webkit-animation-iteration-count: $count;

  -moz-animation-name: $animation;
  -moz-animation-duration: $duration;
  -moz-animation-delay: $delay;
  -moz-animation-fill-mode: $fillmode;
  -moz-animation-direction: $direction;
  -moz-animation-iteration-count: $count;

  animation-name: $animation;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-fill-mode: $fillmode;
  animation-direction: $direction;
  animation-iteration-count: $count;
}

//**************** animate-move-from-right ****************//
@include keyframes(animate-move-from-right) {
  0% {
    opacity: 0;
    @include ab.vendor-prefix-one(transform, translateX(10rem), webkit);
  }

  80% {
    @include ab.vendor-prefix-one(transform, translateX(-1rem), webkit);
  }

  100% {
    opacity: 1;
    @include ab.vendor-prefix-one(transform, translateX(0), webkit);
  }
}

//**************** animate-move-from-left ****************//
@include keyframes(animate-move-from-left) {
  0% {
    opacity: 0;
    @include ab.vendor-prefix-one(transform, translateX(-10rem), webkit);
  }

  80% {
    @include ab.vendor-prefix-one(transform, translateX(1rem), webkit);
  }

  100% {
    opacity: 1;
    @include ab.vendor-prefix-one(transform, translateX(0), webkit);
  }
}

//**************** animate-bounce-up-down ****************//
@include keyframes(animate-bounce-up-down) {
  0% {
    /*opacity: 1;*/
    opacity: .8;
    @include ab.vendor-prefix-one(transform, translateY(0), webkit moz ms o);

  }
  20% {
    /*opacity: 1;*/
    @include ab.vendor-prefix-one(transform, translateY(0), webkit moz ms o);

  }
  40% {
    /*opacity: 0.2*/
  ;
    @include ab.vendor-prefix-one(transform, translateY(-30px), webkit moz ms o);

  }
  50% {
    /*    opacity: 1;*/
    @include ab.vendor-prefix-one(transform, translateY(0), webkit moz ms o);

  }
  60% {
    /*opacity: 0.6*/
  ;
    opacity: .8;
    @include ab.vendor-prefix-one(transform, translateY(-15px), webkit moz ms o);

  }
  80%, 100% {
    opacity: 1;
    @include ab.vendor-prefix-one(transform, translateY(-5px), webkit moz ms o);

  }
  100% {
    /*opacity: 1;*/
    @include ab.vendor-prefix-one(transform, translateY(0), webkit moz ms o);

  }
}

//**************** animate-shake-horizontal ****************//
@include keyframes(animate-shake-horizontal) {
  from, to {
    @include ab.vendor-prefix-one(transform, translate3d(0, 0, 0), webkit);

  }
  10%, 30%, 50%, 70%, 90% {
    @include ab.vendor-prefix-one(transform, translate3d(-12px, 0, 0), webkit);

  }
  20%, 40%, 60%, 80% {
    @include ab.vendor-prefix-one(transform, translate3d(12px, 0, 0), webkit);

  }

}

//**************** animate-shake-vertical ****************//
@include keyframes(animation-shake-vertical) {
  from, to {
    @include ab.vendor-prefix-one(transform, translate3d(0, 0, 0), webkit);

  }
  10%, 30%, 50%, 70%, 90% {
    @include ab.vendor-prefix-one(transform, translate3d(0, -12px, 0), webkit);

  }
  20%, 40%, 60%, 80% {
    @include ab.vendor-prefix-one(transform, translate3d(0, 12px, 0), webkit);

  }

}


//**************** animate-move-from-bottom ****************//
@include keyframes(animate-move-from-bottom) {
  0% {
    opacity: 0;
    @include ab.vendor-prefix-one(transform, translateY(3rem), webkit);

  }
  100% {
    opacity: 1;
    @include ab.vendor-prefix-one(transform, translateY(0), webkit);

  }

}

//**************** animate-move-from-top ****************//
@include keyframes(animate-move-from-top) {
  0% {
    opacity: 0;
    @include ab.vendor-prefix-one(transform, translateY(-3rem), webkit);

  }
  100% {
    opacity: 1;
    @include ab.vendor-prefix-one(transform, translateY(0), webkit);

  }

}
